body,
h1,
h2,
h3,
h4,
h5,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 200 !important;
  color: rgb(255, 255, 255);
}

/* Navbar */

.custom-nav {
  padding: 2vh 0;
}

.links-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 70vw;
}

.custom-link {
  font-size: 2vh;
}

/* Component container */

.component-container {
  /* padding-top: 20vh; */
}

/* Présentation */

.stripe {
  width: 3px;
  height: 100%;
  background-color: white;
}

a {
  color: white !important;
  text-decoration: none !important;
  transition: 0.5s !important;
}

a:hover {
  color: black !important;
  transition: 0.5s !important;
}

.text-container {
  padding-left: 100px;
}

/* Portfolio */
.project-container {
  display: flex;
  justify-content: space-evenly;
}
.project {
  margin: 1vh;
  min-width: 250px;
}

.project-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Contacts */

svg {
  font-size: 3vh !important;
}

.contact {
  margin-top: 3vh;
}

@media screen and (max-width: 575px) {
  .text-container {
    padding-left: 5px;
  }

  .stripe {
    display: none;
  }

  .links-container {
    margin-left: 0;
  }
}
